*{
  margin:0;
  padding:0;
}

.direction{
  display:none;
  opacity:0.75;
  z-index:10;
  position:absolute;
  top:50px;
  left:50%;
  transform:translateX(-50%);
  padding:20px;
  background-color:#fff;
  font-size:20px;
  animation: blink 1.5s steps(2, start) infinite;
  -webkit-animation: blink 2.5s steps(2, start) infinite;
}

.wrap{
  width:100%;
  height:100vh;
  background-color:white;
}

.bread{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width:400px;
  height:400px;
  cursor:pointer;
}

.bread1{
  background:url(./img/6_wagafi.png) 50% 50% no-repeat;
  background-size:contain;
}

.bread2{
  display:none;
  background:url(./img/6_wagafi1.png) 50% 50% no-repeat;
  background-size:contain;
}

.bread3{
  display:none;
  background:url(./img/6_wagafi2.png) 50% 50% no-repeat;
  background-size:contain;
}

.bread4{
  display:none;
  background:url(./img/6_wagafi3.png) 50% 50% no-repeat;
  background-size:contain;
}

.txt{  
  display:none;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  font-size:50px;
  letter-spacing:0.2em;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}